<div class="content">

  <h2>Create New Employee</h2>

  <form action="/employees" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" <br>
    <label for="bio">Bio: </label>
    <input type="text" name="bio"><br>
    <label for="image">Image (link): </label>
    <input type="text" name="image"><br>
    <label for="start_date">Start date: </label>
    <input type="date" name="start_date"><br>


    <input type='submit' value="Create Employee">
  </form>

</div>