<!DOCTYPE html>
<html>
<head>
  <title>Healthcare App</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul>
     <li><a href="/home">Home</a> </li>
     <li><a href="/employees">Employees</a> </li>
     <li><a href="/employees/new">New Employee</a> </li>
     <li><a href="/clients">Clients</a> </li>
     <li><a href="/clients/new">New Client</a> </li>
     <li><a href="/shifts">Shifts</a> </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>