<div class="content">

  <h2>Create New Client</h2>

  <form action="/clients" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" <br>
    <label for="image">Image (link): </label>
    <input type="text" name="image"><br>
    <label for="address">address: </label>
    <input type="text" name="address"><br>
    <label for="requirements">requirements: </label>
    <input type="text" name="requirements"><br>

    <input type='submit' value="Create Employee">
  </form>

</