<div class="content">

  <h2>Volunteer for Shift</h2>

  <form action="/shifts" method="post">

    <label for="employee_id">Employee ID:</label>
    <input type="text" name="employee_id" <br>

    <label for="client_id">Client ID: </label>
    <input type="text" name="client_id"><br>

    <label for="shift_report">Shift Report: </label>
    <input type="text" name="shift_report"><br>

    <label for="shift_date">Date: </label>
    <input type="date" name="shift_date"><br>

    <label for="shift_time">Time: </label>
    <input type="time" name="shift_time"><br>

    <label for="shift_status">Time: </label>
    <input type="text" name="shift_status"><br>

    <input type='submit' value="Create Shift">
  </form>

</div>